@charset "utf-8";

body, html, header {
    background-color: black;
}

img#homeAnchor {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a#homeBullet.nav-link {
    color: #ffde59;
}

a#restorationBullet.nav-link {
    color: #ffde59;
}

a#sumterBullet.nav-link {
    color: #ffde59;
}

a#videoBullet.nav-link {
    color: #ffde59;
}

a#pictureBullet.nav-link{
    color: #ffde59;
}

p#homeIntro.fs-5.mb-4 {
    color: white;
}

div.text-secondary.px-4.py-5.text-center {
    color: #000000;
}

h1 {
    color: white;
    
}

.lead {
    color: white;
}

p.fs-5.mb-4 {
    color: #ffde59;
   
    
}


img#seatChartImage.d-block.mx-lg-auto.img-fluid {
    border-style: solid;
    border-color: #ffde59;
    border-width: 5px;
    border-radius: 10px;
}


img#historyRylanderImage.d-block.mx-lg-auto.img-fluid {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
}

img#sumterPlayersImage.d-block.mx-lg-auto.img-fluid {
    border-style: solid;
    border-color: darkred;
    border-width: 5px;
    border-radius: 10px;
}

img#restorePipeOrganImage.d-block.mx-lg-auto.img-fluid {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
}

ul.list-group {
    border-top-style: solid;
    border-top-color: #ffde59;
    border-bottom-style: solid;
    border-bottom-color: #ffde59;
}

li.list-group-item.d-flex {
    background-color: black;
    color: white;
}

p#emailContact > a {
    color: #ffde59;
}

p#phoneContact > a {
    color: #ffde59;
}

p#Insta {
    color: #ffde59;
}

p#facebook {
    color: #ffde59;
}

img#upcomEventsImage {
    margin: 40px;
    border-style: solid;
    border-color: #ffde59;
    border-width: 10px
    

}

ul#previousShowsParagraph > a > li {
    background-color: black;
    color: white;
}

ul#previousShowsParagraph {
    border-top-style: solid;
    border-top-color: #ffde59;
    border-bottom-style: solid;
    border-bottom-color: #ffde59;
}

li.list-group-item {
    background-color: black;
    color: white;
}

img#redTicket {
    display: block;
    margin-left: auto;
    margin-right: auto;
}